body {
    font-family: 'Georgia', sans-serif;
    font-size: 1.3em;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

p, ul {
    line-height: 1.6;
}

nav {
    font-family: 'Calibri', 'Arial', sans-serif;
}

nav a {
    color: #687bc8;
    margin: 0 5px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
